### 隐藏文件夹 ###
.*/

### Package File ###
# 忽略Maven编译输出目录，但不忽略源码中的target目录
**/target/
!**/src/**/target/

### Log File ###
logs/
*.log

### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/

### AI ###
*CLAUDE*
openspec
